{% extends "base.html" %}

{%block content %}
<h1>Welcome user</h1>
<div class="card">
    <h4>Resume analyser</h4>
    <p><a href="/history">View your history</a></p>
    <form method="post" enctype="multipart/form-data">
        <textarea name="resumetxt" placeholder="paste here or"></textarea>
        <p>upload a file</p>
        <input type="file" name="file">
        <input name="role" placeholder="what are you applying for" required>
        <button type="submit"> analyze</button>
    </form>
</div>
{%if result%}
<div>
    {%if result.error %}
        <p class="red">error:{{result.error}}</p>
    {%endif%}

    <h2>Score</h2>
    <p>{{ result.get('score', 'N/A') }}</p>

    <h2>Strengths</h2>
    <ul>
        {%for s in result.get('strengths', []) %}
        <li>{{ s }}</li>
        {%endfor%}
    </ul>

    <h2>Weaknesses</h2>
    <ul>
        {%for s in result.get('weaknesses', []) %}
        <li>{{ s }}</li>
        {%endfor%}
    </ul>

    <h2>Missing Skills</h2>
    <ul>
        {%for s in result.get('missing_skills', []) %}
        <li>{{ s }}</li>
        {%endfor%}
    </ul>

    <h2>Interview Questions</h2>
    <ul>
        {%for s in result.get('interview_questions', []) %}
        <li>{{ s }}</li>
        {%endfor%}
    </ul>
</div>


<a href=""
{%endif%}
{%endblock%}